* { 
    padding: 0; margin: 0; 
}

body{
    background-image: url('../images/dust_scratches.png');
    width: 100%;
}

header{
    background-color: #ffffff;
    height:  80px;
    border-bottom: 3px solid #cccccc;
}

#headerWrapper{
    left: 0; 
    right: 0;
    margin: auto;
    width: 960px;
    line-height: 80px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
}

#name{
    float: left;
    padding: 0 30px;
    background-color: #4aaaa5;
    color: #ffffff;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav{
    float: right;
}

nav, #contentMain{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#headerWrapper::after{
    content: "";
    display: block;
    clear: both;
}

#middleNavSpan{
    margin: 0 20px;
    padding: 0 20px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#content{
    left: 0; 
    right: 0;
    margin: 30px auto;
    width: 896px;
    background-color: #ffffff;
    padding: 30px;
    border: 2px solid #dddddd;
}

#contentHeader{
    color: #4aaaa5;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

#theStevester{
    float: left;
    margin-right: 20px;
}

#fruityPebbles{
    background: url(../images/fruitypebbles.png);
    background-size: 400px;
    background-repeat: no-repeat;
    margin-right: 84px;
}

#pacMental{
    background: url(../images/pacmental.png);
    background-size: 400px;
    background-repeat: no-repeat;
}

#theRealStevester{
    background: url(../images/thestevester.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    margin-left: 247px;
}

#fruityPebbles, #pacMental, #theRealStevester{
    width: 400px;
    height: 430px;
    background-color: #000000;
}

#fruityPebbles, #pacMental{
    margin-bottom: 84px;
}

.portBox{ 
    position: relative;
    float: left;
    border: 3px solid #cccccc;
    border-radius: 50px; 
    opacity: .5;
}

.portBox:hover{
    opacity: 1;
    cursor: pointer;
}

.portFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;   
    color: #ffffff;
    text-align: center;
}

#contentMain::after {
    content: "";
    display: block;
    clear: both;
}

